<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://i.imgur.com/X3lmcsu.png">

    <title>Elixir-Dallas</title>
    <link rel="stylesheet" href= "/static/style.css">

    <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/static/css/jumbotron-narrow.css" media="all" rel="stylesheet" type="text/css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="about.html.eex">About</a></li>
        </ul>
        <img src="/static/elixir_drop.png" class="drop">
        <h3 class="text-muted">Elixir-Dallas.org </h3>
      </div>

      <%= content_for(:template) %>

      <div class="footer">
        <p>&copy;All content 2013 Elixir-Dallas</p>
      </div>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
