<!DOCTYPE HTML>
<html>
<head>
  <title><%= @title %></title>
  <link rel="shortcut icon" href="/static/favicon.ico" />
  <link href="/static/css/style_min.css" type="text/css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>
<body>
  <h3>Welcome to elixir-dallas.org!</h3>
  <ol>
    <li>This is the "hello world" result of our first meeting.</li>
    <li>It makes sense to make the Elixir user group site in Elixir...</li>
    <li>We'll slowly add more features.</li>
    <li><a href="http://plancast.com/p/jvpd">Here is the last Plancast event made.</a></li>
    <li><a href="https://groups.google.com/group/elixir-dallas">Here is our mailing list.</a></li>
    <!--<li>Change this template at <code>web/templates/index.html.eex</code></li>
    <li>Add new routes at <code>web/routers/application_router.ex</code></li>
    <li>Deploy to production with <code>MIX_ENV=prod mix do compile, server</code></li>-->
  </ol>
  <div class="construction"></div>
  <br/>
  <br/>
  (Sorry, had to include the classic gif (that isn't actually a gif but is instead css)...)
</body>
</html>
